
.header-wrapper{
    width:100%;
    min-width:1205px;
    height:60px;
    background-color:#23292d;
    border:0;
}

.logo-wrapper{
    float:left;
    width:40px;
    margin:10px;
    margin-left:20px;
    padding:0;
    border:0;
}

.header-headline{
    float:left;
    font-family:'Montserrat';
    font-size:18pt;
    color:white;
    margin-top:17.5px;
    margin-left:10px;
}

.header-left-wrapper{
    float:left;
    height:60px;
    width:260px;
    min-width:260px;
    margin:0;
    padding:0;
}

.header-middle-wrapper{
    float:left;
    width:calc(100% - 520px);
    min-width:685px;
    height:60px;
    margin:0;
    padding:0;
}

.header-right-wrapper{
    float:right;
    width:260px;
    min-width:260px;
    margin:0;
    padding:0;
}

.header-top-text{
    margin:0;
    margin-top:7.5px;
    padding:0;
    text-align:center;
    color:#919b9b;
    font-family:'Montserrat';
    font-size:10pt;
    text-shadow:.2px .2px #02cbff;
}

.header-bottom-text{
    margin:0;
    margin-top:5px;
    padding:0;
    text-align:center;
    color:#919b9b;
    font-family:'Montserrat';
    font-size:12pt;
}

.header-right-text{
    float:right;
    margin:0;
    margin-top:10px;
    padding:0;
    font-family:'Montserrat';
    font-size:12pt;
    color:white;
}

.github-text{
    color:white;
}

.facebook-text{
    color:#87a4df;
    text-shadow:.2px .2px white
}

.react-text{
    color:#62dafb;
}

.issues-text{
    color:#fffa9b;
}