a:hover{
    color: #313eff;
}

.issues-wrapper{
    width:990px;
    height:calc(100vh - 160px);
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:30px;
}

.issues-header-wrapper{
    width:990px;
    min-width:990px;
    height:120px;
    margin:0;
    padding:0;
    border:0;
}

.issues-header-headline{
    float:left;
    width:100%;
    margin:0;
    margin-top:40px;
    margin-left:40px;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.issues-body-wrapper{
    width:100%;
    height:600px;
    margin:0;
    margin-bottom:50px;
    padding:0;
    border:0;
    overflow:auto;
}

.open-issues-notice{
    float:left;
    margin-top:0px;
    margin-left:30px;
    height:50px;
    width:400px;
    border:0;
}

.black-warning-image{
    float:left;
    margin:0;
    margin-top:5px;
    padding:0;
    border:0;
}

.green-warning{
    float:left;
    height:40px;
    margin-left:15px;
    margin-top:20px;
}

.black-warning-text{
    float:left;
    margin:0;
    margin-left:10px;
    margin-top:2.75px;
    padding:0;
    border:0;
    font-family: 'Montserrat', sans-serif;
    font-size:14pt;
}

.closed-issues-btn{
    float:left;
    margin-top:3px;
    margin-left:10px;
    height:50px;
    width:200px;
    border:0;
}

.blue-check-image{
    float:left;
    margin:0;
    margin-top:5px;
    padding:0;
    border:0;
}

.blue-check-text{
    float:left;
    margin:0;
    margin-left:10px;
    margin-top:2.75px;
    padding:0;
    border:0;
    font-family: 'Montserrat', sans-serif;
    font-size:14pt;
}

.react-loading-wrapper{
    width:300px;
    height:400px;
    margin:0;
    padding:0;
    border:0;
    margin-left:330px;
    margin-top:50px;
}

.react-loading{
    margin:0;
    padding:0;
    border:0
}

.issue-row{
    border-bottom:1px solid #909090;
    height:75px;
}

.issue-title{
    float:left;
    width:calc(100% - 100px);
    margin-top:16px;
    font-family:'Cabin';
    font-size:12pt;
    text-decoration:none;
    color:black;
}

.issue-subtitle{
    float:left;
    margin:0;
    padding:0;
    font-family:'Cabin';
    font-size:9pt;
    color:#646464;
}


.issue-cards-wrapper{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-bottom:-2px;
}

.divider{
    height:10px;
    width:650px;
    border-bottom:1px solid #bbb5b5;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}